<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samportnow.bato"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.samportnow.bato.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.samportnow.bato.welcome.WelcomeActivity" />
        <activity android:name="com.samportnow.bato.addthought.AddEventActivity" />
        <activity android:name="com.samportnow.bato.graphs.MoodGraphActivity" />
        <activity
            android:name="com.samportnow.bato.capture.CaptureActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.samportnow.bato.capture.CaptureSelectActivity" />
        <activity
            android:name="com.samportnow.bato.destroyer.DestroyerGame"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.samportnow.bato.coping.blowfish.Blowfish"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.samportnow.bato.coping.rollingball.Rolling"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.samportnow.bato.coping.floating.FloatActivity" />
    </application>

</manifest>